* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}


form {
    display: flex;
    flex-direction: column;
    width: 400px;
    max-width: 400px;
    /* align-items: center; */
    background-color: rgb(253, 189, 189);
    border-radius: 1em;
    padding: 1em;

}

input {
    color: rgb(85, 85, 85);
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

form div {
    margin: 5px;
    text-align: right;
}

form div label {
    /* width: 10em; */
    font-size: 1em;
    text-align: left;
    display: flex;
    /* align-items: flex-start; */
}

form div input, form div button, form div select {
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    background: white;
}

form div button {
    border-left: 1px solid rgb(192, 192, 192);
}

form div input {
    font-size: 1em;
    width: 100%;
}

form div select {
    outline: none;
    color: rgb(85, 85, 85);
    border-right: 1px solid rgb(192, 192, 192);
    font-size: .9em;
}

.input-container {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.input-div {
    margin: 0;
}

.input-div label {
    display: block;
    text-align: center;
}

#ingredient-unit-amount-input {
    border-right: 1px solid rgb(192, 192, 192);
}

#units-selection {
    width: 30%;
    
}

#cook-time, #serves-number {
    border-left: 1px rgb(192, 192, 192) solid;
}

.time-container {
    display: inline-block;
    margin: 0;
    width: 33.3%;
}

.time-container label {
    display: block;
    text-align: center;
}

.time-container input {
    text-align: center;
}

@media only screen and (max-width: 400px) {
    * {
        font-size: 4vw;
    }
    form {
        width: 100%;
        max-width: 100%;
    }
}